html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* header */

.header {
    text-align: center;
}

.main-tittle {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
}

/* Imagem destaque */

.featured-image {
    text-align: center;
    margin-top: 30px;
}

/* Biografia */

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* Quotes */

.quotes-container {
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

/* Curiosidades */ 
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 50px;
}

/* Imagem bold */

.img-bold {
    font-weight: bold;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Exemplo de Personalização Adicional */
body {
    background-image: url('beatles.jpg');
    background-size: cover;
    color: #333;
}

header {
    background-color: #ff6600; /* Laranja */
}

a {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff3300; /* Laranja mais escuro ao passar o mouse */
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3300; /* Laranja mais escuro ao passar o mouse */
}
